<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">Tickets</h1>
      <% Ticket.all.order(:start_datetime).each do |t| %>
        
      <% end %>
      <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <% TicketPrice.all.pluck(:fetched_at).uniq.each do |t| %>
            <th><%= t.in_time_zone('Pacific Time (US & Canada)').strftime("%b %d") %></th>
          <% end %>
        </th>
      </thead>
      <% Ticket.all.order(:start_datetime).each do |ticket| %>
        <tr>
          <td colspan="<%= ticket.ticket_prices.count+1 %>">
            <%= line_chart ticket.ticket_prices.pluck(:fetched_at, :price), xtitle: "Fetched At", ytitle: "Price" %>
          </td>
        </tr>
        <tr>
          <td>
            <b>
              <%= ticket.start_datetime.strftime("%b %d") %>
            </b>
            <%= ticket.start_datetime.strftime("%l%P").strip %>
          </td>
          <% lastprice = nil %>
          <% ticket.ticket_prices.each do |tp| %>
            <% bgcolor = '' %>
            <td class="<%= lastprice && tp.price > lastprice ? 'text-danger' : '' %>">
              $<%= tp.price %>
            </td>
            <% lastprice = tp.price %>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</main>

<style>

</style>